# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Environment variables
.env

# Docker
*.log
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate
terraform.tfstate.*
*.zip

# MacOS
.DS_Store

# Visual Studio Code
.vscode/
